/* Inheritance-body */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
/* Multiple element selection */
header, footer {
    background-color: pink;
}
/* class selector */
.site-title {
    color: darkblue;
}
/* ID selector */
#my-image {
    box-shadow: 0 0 2px 1px black;
}
/* Replace bullets with squares */
.my-hobbies {
    list-style-type: square;
}
/* nth-child selector - odd items */
.my-hobbies li:nth-child(odd) {
    background-color: #5b9ff3;
}
/* ---------- Navigation styling ----------- */
/* Remove bullets from nav list */
nav ul {
    list-style-type: none;
}
/* remove underline from links */
nav a {
    text-decoration: none;
}
/* Add background and border to links */
nav a {
    background-color: skyblue;
    border: 2px darkblue;
}
/* change background colour on hover */
nav a:hover {
    background-color: coral;
}