/* arranges the position of h1 and image width */
header{
    position: relative;
}
/* makes the image as wide as the container and reduces the height */
header img{
    width:100%;
    height: max-content;
}
/* puts the title on the image and styles h1*/
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* styles page background */
body{
    background-color: rgb(189, 235, 219);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* styles the container */
.container{
    width: 900px;
    margin: auto;
    background: rgb(214, 239, 214);
}
/* aligns the navigation to the center*/
.nav{
    text-align:center;
}
/* styles the navigation */
.nav a{
    text-decoration:none;
    color:black;
    padding:10px 120px;
    display:inline-block;
    border-right:1px solid black;
    margin-bottom: 15px;
}
/* do not add a border on the right of the last child (contact) */
.nav a:last-child{
    border-right:none;
}
/* Floats the image */
.img{
    float:left;
    width:180px;
    margin-right:15px;
    margin-bottom: 10px;
    margin-left: 1%;
}
/* automatically add a top margin to paragraph */
p{
    margin-top: auto;
}
/* Prevents content from wrapping around the floated image and adds spacing inside the article */
article{
    clear: both;
    padding: 5px;
}
/* added margin to facts list h2 and h3 */
ul {
    margin-left: 1%;
}
h2, h3, h4 {
     margin-left: 1%;
     margin-bottom: 10px;
     font-size: medium;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* styles the form */
form{
    border:1px solid gray;
    padding:20px;
}
/* Styles only inputs where type = text,type = email and textarea */
input[type="text"],
input[type="email"],
textarea{
    width:100%;
    margin-bottom:15px;
    padding:8px;
    margin-right: 15px;
    box-sizing: border-box;
/* makes the message box bigger */
}
textarea{
    height: 120px;
}
/* styles the selection section */
.selection{
    display:flex;
    gap:20px;
    align-items:center;
}
/* positions the footer on the right */
footer{
   text-align:right;
   padding:20px;
}
