/* adds a rest code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* The maximum width of the container is 1200px */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
/* adds a min-width media query for the screen size of 760px and above */
@media (min-width: 760px) {

    .site-header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
/* Uses the 'Open Sans' Google font for the webpage*/
body {
    font-family: 'Open Sans', sans-serif;
}
/* removes bullets */
.main-nav ul {
    list-style: none;
}
/* removes underlines and adds color */
.main-nav a {
    color: #c78c06;
    text-decoration: none;
}

/* adds a background image */
.banner {
    background: url("../images/main-banner.jpg") no-repeat center/cover;
    color: white;
    padding: 80px 20px;
}

.banner-content {
    background: rgba(0,0,0,0.6);
    padding: 20px;
}